/* MODO CLARO */
body {
  --product-card-border: #cfcfcf;
  --product-card-bg: #ffffff;
}

/* MODO OSCURO */
body.dark {
  --product-card-border: #444444;
  --product-card-bg: #1e1e1e;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: var(--product-card-bg);

  border: 2px solid var(--product-card-border) !important;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-image-container {
  position: relative;
  width: 100%;
  height: 220px;
  background: #f5f5f5;
  overflow: hidden;
}

.product-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.product-image-container:hover img {
  transform: scale(1.1);
}

.product-info {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 1.1rem;
  color: #1976d2;
  font-weight: bold;
  }
